<!DOCTYPE html>
<html lang="pl_PL">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ 'main.title'|trans }}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Oswald" rel="stylesheet"> <!--czcionka Oswald, Shadows Into Light, Dancing Scripts-->
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    {% endblock %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#media').carousel({
                // pause: true,
                interval: false
            });
        });
        $(document).ready(function() {
            $('#media2').carousel({
                pause: true,
                interval: false
            });
        });
        $(document).ready(function() {
            $('#media').carousel('pause');
        });
    </script>
    <script>
        var countDownDate = new Date("Oct 20, 2018 09:01:00").getTime();
        // aktualizuj co sekunde
        var x = setInterval(function() {
            // dzisiejsza data i godzina
            var now = new Date().getTime();

            // znajdź ilość czasu między docelowymn czasem a dzisiejszym dniej
            var distance = countDownDate - now;

            // obliczanie dni, godzin, minut i sekund
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // umieść je w elemencie o id="demo"
            document.getElementById("days").innerHTML = days;
            document.getElementById("hours").innerHTML = hours;
            document.getElementById("minutes").innerHTML = minutes;

            // jeśli odliczanie się zakończy, wypisz
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "Zawody się rozpoczynają!";
            }
        }, 1000);
    </script>
</head>
<body>
{% include 'default/_flash_messages.html.twig' %}
{% block body %}{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>